body {
    font-family: Arial, sans-serif;
    width: 300px;
    padding: 10px;
  }
  
  h1 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  input[type="file"] {
    margin-bottom: 10px;
  }
  
  #lyricsOutput {
    margin-bottom: 10px;
  }
  
  #mudrasOutput {
    margin-top: 10px;
    font-size: 14px;
  }
  
  #mudrasOutput div {
    margin-bottom: 5px;
  }
  